@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
    --white:#fff;
    --yellow:#ffc200;
    --black:#000000;
    --gray:#303030
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.container{
    max-width: 1400px;
    margin: 0 auto;
}

/* Header Start */
header {
    height: 800px;
    background-image: url("html-template/assets/img/header_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    & nav {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;

        & .menu {
            display: flex;
            align-items: center;
            
            & li {
                list-style: none;
                margin-right:80px;

                & a {
                    color:var(--white);
                    text-decoration: none;
                    font-size: 20px;  
                }
            }
        }
    }

    & .header_content{
        display: flex;
        justify-content: end;

        & .header_info {
            margin-top: 140px;
            margin-right: 150px;
        }

            & .header_title {
                font-size: 85px;
                color: var(--yellow);
            }

                & .header_lorem{
                color: var(--white);
                font-size: 30px;
                margin-top: 40px;
                }

                    & .header_btn {
                       
                            & a{
                            display: flex;
                            width: 244px;
                            height: 48px;
                            margin-top: 40px;
                            justify-content: center;
                            align-items: center;
                            background-color: var(--yellow);
                            border-radius: 5px;
                            text-transform: uppercase;
                            text-decoration: none;
                            font-weight: bold;
                            font-size: 19px;
                            color: var(--black);
                            }
                        
              }
    }
}


@media screen and (max-width: 480px) {
    header {

        height: auto;

         & nav {
            flex-direction: column  ;

             & .logo {
                text-align: center;

             }

             & .menu {
                flex-direction: column;
               

                & li {
                    margin-top: 30px;
                    margin-right: 0;
                }
             }
           
             
         }


         & .header_content{
           display: flex;
           justify-content: center;
    
            & .header_info {
                text-align: center;
                margin: 0px;

                & .header_title {
                    font-size: 50px;
                    margin-top: 50px;
                    
                }
    
                    & .header_lorem{
                        font-size: 23px;
                    }
    
                        & .header_btn {
                         display: flex;
                         justify-content: center;
                         margin:20px 0px;
                        
                  }
            }
    
                
        }


    }
   
}

/* Header End */


/* Header Bestseller Start */

.header_bestseller {
    height: 800px;
    background-color: var(--white);
    overflow: hidden;

    & .bestseller_content {
        text-align: center;
        margin-top: 140px;
        

        & .h1_bestseller {
            font-size: 60px;
        }

        & .p_bestseller {
            font-size: 20px;
            margin-top: 35px;
        }
    }

    & .card_bestseller {
       
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
        text-align: center;
        margin-top: 75px;
      
        
        & .item {

            margin-top: 10px;

            & .p_card_title {
                font-size: 41px;
                margin-top: 15px;
            }
    
            & .p_card_content {
                font-size: 16px;
                margin-top: 25px;
            }

        }
       
    }
}


@media screen and (max-width: 480px) {

    .header_bestseller {
        height: auto;
    }
}

/* Header Bestseller End */


/* Content_Top Start */

.content_top {
    height: 800px;
    background-color: var(--white);
    background-image: url(html-template/assets/img/content_bg_top.png);
    background-size: cover; 
    background-position: center top 170px; 
    background-repeat: no-repeat;
    

    & .container_top {

        display: flex;  
        background-size: cover; 
   

        & .card_top {
            
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 135px;
            margin-top: 250px;
        
            & a img {
                width: 460px;
                height: 460px;
            }
        }

        & .content_top_wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 170px;
            margin-top: 300px;
     
             & .content_top_info {
                    margin-top: 70px;
                   
 
                 & .content_top_title {
                    font-size: 85px;
                    color: var(--yellow);
                     
                 }
     
                     & .content_top_lorem{
                        color: var(--white);
                        font-size: 25px;
                        margin-top: 40px;
                       
                     }
     
                         & .content_top_btn {
                          display: flex;
                          
                          margin:20px 0px;
                          
                          & a{
                            display: flex;
                            width: 320px;
                            height: 65px;
                            margin-top: 40px;
                            justify-content: center;
                            align-items: center;
                            background-color: var(--yellow);
                            border-radius: 5px;
                            text-transform: uppercase;
                            text-decoration: none;
                            font-weight: bold;
                            font-size: 25px;
                            color: var(--black);
                            }
                         
                   }
             }
     
                 
         }
    }
}

@media screen and (max-width: 480px) {

    .content_top {
        height: auto;

        & .container_top {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            
            & .card_top {
                margin-left: 0;

                & a img {
                    width: 300px;
                    height: 300px;
                }
            }

            & .content_top_wrapper {
                margin-left: 0;
                margin-top: 0;
                & .content_top_info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    & .content_top_title {
                        font-size: 50px;
                    }

                    & .content_top_lorem {
                        font-size: 23px;
                    }
                }
            }
        }
    }
    
}

/* Content_Top End */

/* Content_Mid Start*/

.content_mid {
    height: 800px;
    background-image: url(html-template/assets/img/content_bg_mid.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

   
    & .content_mid_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;

        & .content_mid_title {
            font-size: 100px;
            color: var(--yellow);
        }

        & .content_mid_lorem {
            font-size: 25px;
            color: var(--white);
            text-align: center;
            margin-top: 40px;
        }
    }

    & .content_mid_circle {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
        margin-top: 100px;
        place-items: center; 
      

        & .item_circle {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            outline: 5px solid var(--white);
            width: 250px;
            height: 250px;
            border-radius: 50%;
            
            
           
            & .number{
                color: var(--yellow);
                font-size: 50px;
            }

            & .text{
                color: var(--white);
                font-size: 30px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .content_mid{
        height: auto;

        & .content_mid_text {

            & .content_mid_title {
                font-size: 50px;
            }

            & .content_mid_lorem {
                font-size: 23px;
            }
        }

        & .content_mid_circle {

            & .item_circle{
                margin: 20px 0px;
            }
        }
    }
}

/*content under start*/

.content_under {
    height: 800px;
    background-color: var(--white);
    background-image: url(html-template/assets/img/content_bg_under.png);
    background-size: cover; 
    background-position: center bottom 100px; 
    background-repeat: no-repeat;
    

    & .container_under {

        display: flex;  
        background-size: cover; 
   

        & .card_under {
            
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 135px;
            margin-top: 90px;
            
        
            & a img {
                width: 460px;
                height: 460px;
            }
        }

        & .content_under_wrapper{
            display: flex;
            
            margin-top: 150px;
            margin-left: 170px;
            
     
             & .content_under_info {
                   
 
                 & .content_under_title {
                    font-size: 85px;
                    color: var(--yellow);
                     
                 }
     
                     & .content_under_lorem{
                        color: var(--white);
                        font-size: 25px;
                        margin-top: 40px;
                       
                     }
     
                         & .content_under_btn {
                          display: flex;
                          
                          margin:20px 0px;
                          
                          & a{
                            display: flex;
                            width: 320px;
                            height: 65px;
                            margin-top: 40px;
                            justify-content: center;
                            align-items: center;
                            background-color: var(--yellow);
                            border-radius: 5px;
                            text-transform: uppercase;
                            text-decoration: none;
                            font-weight: bold;
                            font-size: 25px;
                            color: var(--black);
                            }
                         
                   }
             }
     
                 
         }
    }
}

@media screen and (max-width: 480px) {

    .content_under {
        height: auto;
        background-position: center bottom 20px; 

        & .container_under {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column-reverse;
            
            & .card_under {
                margin-left: 0;

                & a img {
                    width: 300px;
                    height: 300px;
                }
            }

            & .content_under_wrapper {
                margin-left: 0;
                margin-top: 30px;

                & .content_under_info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    & .content_under_title {
                        font-size: 50px;
                    }

                    & .content_under_lorem {
                        font-size: 23px;
                        margin-top: 15px;
                    }
                }
            }
        }
    }
    
}


/*content under End*/

/* Start content under more*/

.content_under_more {
    background-image: url(html-template/assets/img/content_bg_under_more.png);
    background-repeat: no-repeat;
    background-size: cover;
 
    .container_under_more {
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;

        & .content_under_more_info {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center ;
            
            & p{
                font-size: 45px;
    
            }
            & h1 {
                margin-top: 30px;
                font-size: 65px;
    
                }
            }
    }
}
@media screen and (max-width: 480px) {
    
    .content_under_more {
   

        &   .container_under_more {

            height: auto;

        & .content_under_more_info {

            margin-top: 80px;

            & p{
                font-size: 30px;
                margin: 0px 10px;
            }

            & h1 {
          
                margin: 50px 10px;
                font-size: 50px;
                }

            }
        }
    }
}


/* End content under more*/

/*Start content_subscribe*/
 
.content_subscribe {

    background-image: url(html-template/assets/img/content_bg_sub.png);
    background-repeat: no-repeat;
    background-size: cover;

    & .container_subscribe{
        height: 800px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;

        & .content_subscribe_info{

            display: flex;
            flex-direction:column;
            align-items: center;
            text-align: center;

            & h1 {
                font-size: 100px;
            }

            & p {
                font-size: 30px;
            }

            & form {
                display: flex;
                margin-top: 80px;

                & input[type="text"] {
                    width: 550px;
                    height: 58px;
                    border: 0px;
                    font-size: 23px;
                    padding-left: 25px;
                }
            
                & input[type="submit"] {
                    width: 220px;
                    height: 58px; 
                    border: 0px;
                    font-size: 25px;
                    font-weight: bold;
                    background-color: var(--yellow);
                    }
            
            }
        }

    }
}

@media screen and (max-width: 480px) {

    .content_subscribe {

        & .container_subscribe {
            height: auto;
        
        & .content_subscribe_info {

            margin-top: 80px;

            & p{
                font-size: 20px;
                margin: 0px 10px;
            }

            & h1 {
          
                margin: 50px 10px;
                font-size: 50px;
                }

                & form {
                    margin: 60px 20px;

                    & input[type="text"]  {
                        width: 70%;
                        font-size: 18px;
                    }

                    & input[type="submit"] {
                        width: 50%;
                        font-size: 18px;
                      
                        
                    }
                }

            }
        
        }
 
    }
} 

/*End Content Subscribe*/

/*Start Content footer*/

footer {

    background-color: var(--gray);

    & .container_footer {
        height: 800px;
        display: flex;
        align-items: center;
        justify-content: center;

        & .footer_info {

            width: 100%;
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 1fr;
            justify-items: center;
            

            & .footer_item {

                display: flex;
                flex-direction: column;
               

                & h1 {
                    color: var(--white);
                    font-size: 25px;

                }

                & p {
                    color: var(--white);
                    font-size: 18px;
                    margin-top: 20px;
                }

                & ul {
                    display: flex;

                    & li{
                        margin-top: 20px;
                        margin-right: 10px;
                        list-style: none;

                            & div {
                            width: 43px;
                            height: 43px;
                            border-radius: 50%;
                            background-color: var(--white);
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            & i {
                                font-size: 22px
                                }
                        }
                    }
            }   }
        }
    }
}

@media screen and (max-width: 480px) {
    
    footer {

        & .container_footer {
            height: auto;
        
            & .footer_info {
                margin-top: 60px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 20px;
            }

                & .footer_item {
                    margin-top: 40px;
                    padding-bottom: 30px;
                }
        }
    }
}